
/* dibujar una casa*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.build{
   float: right;
   width: 400px;
   height: 550px; 
   background: orchid;
   border-radius: 0%;
   display: flex;
   align-items: center;
   justify-content: center;

}

.door{
    float:;
    width: 100px;
    height: 145px;
    background: rgb(209, 209, 139);
    align-items: flex-end;
    justify-content: baseline;

}


